set timeout=5
set default=0

menuentry "Noctua OS" {
    set gfxpayload=1024x768x32,800x600x32,640x480x32
    multiboot /boot/noctua.bin quiet
    boot
}

menuentry "Noctua OS (verbose)" {
    set gfxpayload=1024x768x32,800x600x32,640x480x32
    multiboot /boot/noctua.bin verbose
    boot
}

menuentry "Noctua OS (serial console)" {
    multiboot /boot/noctua.bin serial
    boot
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
